root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{c,cc,cxx,cpp,h,hh,hxx,hpp,inl,ipp}]
indent_style = space
indent_size = 4
max_line_length = 120

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.{cmake,cmake.in}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{ps1,psm1,psd1}]
end_of_line = crlf

[*.{bat,cmd}]
end_of_line = crlf
